# OS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Vite / React builds
dist/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Env files
.env
.env.*

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Helm packaged charts
*.tgz
